
/* .row {
    border: 1px solid black;
} */

.row-1 {
    height: 50px;
    border: 1px solid black;
}

.row-2 {
    height: auto;
    width: auto;
    
    margin-left: 10px;
}

.row-2-column-1 {
    max-width: 30%;
}

.row-2-column-2 {
    min-width: 70%;
}

.row2column1row1 {
    height: 100px;
}

.row2column1row2 {
    height: 400px;
}

.row2column2row1 {
    height: 275px;
}

.row2column2row2 {
    height: 225px;
}

.day {
    height: 180px;
}

